<a href="/customer_add">+ Add Customer</a> <a href="/customer_update">Update Customer</a>
<table id="customer-table">
    {{!-- Header section --}}
    <thead>

        {{!-- print each column as a header --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>
            </th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- print the id, name, email and phone number for each row in the table --}}
        {{#each data}}
        <tr data-value={{this.customerID}}>
            <td>{{this.customerID}}</td>
            <td>{{this.name}}</td>
            <td>{{this.email}}</td>
            <td>{{this.phoneNum}}</td>
            {{!-- pass this.customerID to the update form  --}}
            {{!-- update form is rendered by clicking this button --}}
            {{!-- <td><button onclick="updateCustomer({{this.customerID}})">Update</button></td> --}}
        </tr>
        {{/each}}
    </tbody>
</table>