<a href="/rocket_add">+ Add Rocket</a> <a href="/rocket_update">Update Rocket</a>
<table id="rockets-table">
    <thead>
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>
                
            </th>
            <th>
                
            </th>
        </tr>
    </thead>
    <tbody>
        {{#each data}}
        <tr data-value={{this.rocketID}}>
            <td>{{this.rocketID}}</td>
            <td>{{this.make}}</td>
            <td>{{this.model}}</td>
            <td>{{this.capacity}}</td>
            <td>{{this.price}}</td>
            <td>{{this.inventory}}</td>
            <td>{{this.inventoryAvailable}}</td>
            <td><button onclick="deleteRocket({{this.rocketID}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./js/delete_rocket.js"></script>