<a href="/trip_add">+ Add Trip</a> <a href="/trip_update">Update Trip</a>
<table id="trips-table">
    <thead>
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>
                
            </th>
            <th>
                
            </th>
        </tr>
    </thead>
    <tbody>
        {{#each data}}
        <tr data-value={{this.tripID}}>
            <td>{{this.tripID}}</td>
            <td>{{this.destination}}</td>
            <td>{{this.durationDays}}</td>
            <td>{{this.price}}</td>
            <td><button onclick="deleteTrip({{this.tripID}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./js/delete_trip.js"></script>